canvas.plane {
	position:absolute;
	width:800px;
	height:600px;
	left:30px;
	top:30px;
	border:solid 1px black;
}

div.sidebar {
	position:absolute;
	width:300px;
	height:600px;
	left:840px;
	top:30px;
	border:solid 1px black;
	background-color:#444444;
}

div.screen {
	position:absolute;
	top:0px;
	left:0px;
	border:solid 1px black;
	text-align: center;
	width:800px;
	height:600px;
}


table {
	border:solid 1px black;
	text-align: : center;
	margin-left: auto;
	margin-right: auto;
}

tr {
	border:solid 1px black;
}
td {
	border:solid 1px black;
}

img.button {
border: solid 1px black;
}

img.selectedTile {
border: solid 2px blue;
}
img.Tile {
border: solid 1px black;
}

body {
background-color:#c7c7c7;
padding: 0px;
margin: 0;
overflow:hidden;
color:white;
font-family: Verdana, Geneva, sans-serif;
}


@-webkit-keyframes fadein
{
0% {-webkit-filter:opacity(0%)}
100% {-webkit-filter:opacity(100%)}
}


div.healthContainer {
	border:solid 1px black;
	background-color: white;
	width:200px;
	height:16px;
}

div.health {
	background-color:red;
	width:200px;
	height:16px;
}